body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    font : black;
    font-family: 'Courier New', monospace;
}

#question{
    font-size: 25px;
}

#quiz{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hamster{
    height: 40vh;
}

p{
    width: 80vw;
    text-align: center;
    padding: -10px 20px 0px 20px;
}

#buttons{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

button{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Courier New', monospace;
    color: black;
}
button:hover{
    background-color: lightblue;
}

#next{
    margin: 50px;
}

@media screen and (max-width: 600px){
    #buttons{
        display: flex;
        flex-direction: column;
    }
    #hamster{
        width: 70vw;
        height: auto;
    }
    button:hover{
        background-color: initial;
    }

}